﻿@model Desarrollo.Inventario.Models.CategoriasModel.CategoriaListaVM
@{
    Layout = null;
}

<table class="footable table table-stripped" data-page-size="100" data-sort="false">
    <thead>
        <tr>
            <th>Codigo categoria</th>
            <th>Nombre Categoria</th>
            <th>Detalles Categoria</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var categoria in Model.listadoCategorias)
        {
            <tr>
                <td>@categoria.codigo_categoria</td>
                <td>@categoria.categoria1</td>
                <td>@categoria.detalles</td>


                <td><a class="btn btn-primary editarcat" data-codigo="@categoria.codigo_categoria"href="@Url.Action("EditarCategoria", "Categoria", new { id = categoria.codigo_categoria })">Editar</a></td>
                <td><a class="btn btn-danger eliminarcategoria" data-codigo="@categoria.codigo_categoria" href="@Url.Action("EliminarCategoria", "Categoria", new { id = categoria.codigo_categoria })">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>
