﻿
@model Desarrollo.Inventario.Models.ProveedoresModel.proveedoresListVM
@{
    ViewBag.Title = "Index";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Listado de Proveedores</h2>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title">Búsqueda de Proveedor</div>
        <div class="ibox-content">

            @using (Html.BeginForm("Index", "Proveedores", FormMethod.Post))

            {


                <div class="row">
                    <div class="col-md-3">
                        <label>Codigo Proveedor</label>
                        @Html.TextBoxFor(x => Model.codigo, new { @class = "form-control" })
                    </div>

                    <div class="col-md-3">
                        <label>Nombre Proveedor</label>
                        @Html.TextBoxFor(x => Model.nombre, new { @class = "form-control" })
                    </div>


                    <div class="col-md-3 " style="padding-top:4px">
                        <br />
                        <button class="btn btn-primary" type="submit">Buscar</button>

                    </div>
                </div>

                <br />


            }

        </div>

    </div>


    <div class="ibox">
        <div class="ibox-content">
            <a class="btn btn-primary btn-bitbucket nuevo" data-cod="0" data-title="" data-contenido="" data-fecha="" data-fech="" href="#"><i class="fa fa-paste"></i> Nuevo Proveedor</a>
            <br /><br />

            <div id="reload"> @Html.Partial("~/Views/Proveedores/ListadoProveedores.cshtml", Model)</div>


        </div>
    </div>
</div>

<div class="modal inmodal fade" id="AgregarEditarProveedor" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close cerrar" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class=""><span id="cattitel"></span></h3>
            </div>

            @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frm" }))
            {<div class="modal-body">

                    <input type="hidden" id="codigo_proveedor">
                    <label>Nombre Proveedor</label><br />

                    <input type="text" class="form-control" id="nombre_provedor" /><br />

                    <label>Dirección</label><br />
                    <input type="text" style="height:70px" class="form-control" id="direccion" /><br />

                    <label>Telefono</label><br />
                    <input type="text" style="height:70px" class="form-control" id="telefono" /><br />

                    <label>Correo</label><br />
                    <input type="text" style="height:70px" class="form-control" id="correo" /><br />


                </div>



                <div class="modal-footer">
                    <button type="button" class="btn btn-white cerrar" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary " id="btnmult">Guardar</button>
                </div>
            }


        </div>
    </div>
</div>











<input type="hidden" value="@Url.Action("GuardarProveedor","Proveedores")" id="guardarprov" />
<input type="hidden" value="@Url.Action("EliminarProveedor","Proveedores")" id="eliminarprov" />
<input type="hidden" value="@Url.Action("GetProveedor","Proveedores")" id="getprov" />
<input type="hidden" value="@Url.Action("EditarProveedor","Proveedores")" id="editprov" />

@section Scripts{


    <script>

        $(document).on("click", ".editarprov", function (e) {

            e.preventDefault();
            Bitworks.Ventanas.mostrarLoading("...");
            var codigo = $("#codigo_proveedor").val();
            var nomc = $("#nombre_proveedor").val();
            var direc = $("#direccion").val();
            var tele = $("#telefono").val();
            var correo = $("#correo").val();

            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                data: {
                    codigo: codigo, nombre: nomc, direccion: direc, telefono: tele, correoo: correo
                }



            }).done(function (data) {


                if (data.exito) {


                    $("#reload").html('');
                    $("#reload").html(data.postsHtml);
                    $("#codigo_proveedor").val('');
                    $("#nombr_proveedor").val('');
                    $("#direccion").val('');
                    $("#telefono").val('');
                    $("#correo").val('');
                    $("#btnmult").removeClass("btnEditar");
                    $("#AgregarEditarProveedor").modal('toggle');
                    swal("Exito", "Proveedor Editado Correctamente", "success");



                } else {
                    $("#codigo_proveedor").val('');
                    $("#nombr_proveedor").val('');
                    $("#direccion").val('');
                    $("#telefono").val('');
                    $("#correo").val('');
                    $("#AgregarEditarProveedor").modal('toggle');
                    swal("Ocurrió un error...",
                        "Hubo un error al Intentar Editar el Proveedor",
                        "error");

                }
            }).fail(function (data) {
                $("#codigo_proveedor").val('');
                $("#nombr_proveedor").val('');
                $("#direccion").val('');
                $("#telefono").val('');
                $("#correo").val('');
                $("#AgregarEditarProveedor").modal('toggle');

                swal("Ocurrió un error...",
                    "Hubo un error con el servidor, recargue la página o intente más tarde",
                    "error");
            });

        });

    </script>





}